.linear_gradient {
  background-color: #191919;
}

body {
  .linear_gradient;
  font-family: Helvetica;
  font-size: .8em;
  padding: 0px;
  margin: 0 0 0 10px;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
}

#geekweek {
  margin: auto;
  min-width: 968px;
  width: 800px;
}

#geekweek .header
{
	height:119px;
	width:270px;
}

#geekweek .header .logo {
  height: 30px;
  margin-top: 10px;
}

#geekweek .header .geek_logo {
  background: url(/images/geek_logo.png) no-repeat center left;
  height: 30px;
  margin-top: 10px;
}

#geekweek .body {
  background: url(/images/iphone.png) no-repeat;
  height: 530px;
  margin: auto;
  padding: 119px 0 0 20px;
  width: 320px;
}

#geekweek .body .content {
  background: url("/images/iphone/stripes.png") repeat scroll 0 0 #C5CCD3;
  height: 430px;
  width: 302px;
}

#geekweek .body input.capitalize {
  text-transform: capitalize;
}

/*iPhone overridern styles*/

#geekweek .body #header {
  margin: 0px;
  padding: 0px;
}

#geekweek .body #header h1 {
  left: auto;
  margin: 0px;
  padding: 5px 0px;
  position: relative;
  width: auto;
}

#geekweek .body #header h1.with_back {
  margin-left: 55px;
  padding-right: 55px;
}

#geekweek ul {
  margin: 0px;
}

#geekweek div#header a {
  position: relative;
  right: auto;
}

#geekweek div#header a#backButton {
  background: url(/images/iphone/backButton.png) no-repeat;
  float: left;
  left: auto;
  padding-left: 10px;
  width: 45px;
}

#geekweek div#header p {
  left: auto;
  position: relative;
  right: auto;
}

#geekweek ul.data li p + p {
  margin-top:5px;
}

#geekweek li.adr p {
  font-size: 12px;
}

#geekweek li.adr p.street-address,
#geekweek li.adr p.extended-address {
  font-size: 14px;
}

#geekweek ul.phone-number strong{
  display: inline-block;
  width: 125px;
}

/* Override Ends */

#geekweek .footer {
	float: right;
	height: 50px;
	width: 270px;
  background:  url(/images/current_theme.png) center right no-repeat;
}
