<div id="header">
  <a class="navigation" href="javascript:void(0)" data-url="<%= welcome_path %>" id="backButton">Exit</a>
  <h1 class="with_back">Register</h1>
</div>
<ul class="data">
  <li>
    <p>You have been registered for the event</p>
    <p>You will be contacted soon!!!</p>
  </li>
</ul>
