<div id="header">
  <a class="navigation" href="javascript:void(0)" data-url="<%= welcome_path %>" id="backButton">Back</a>
  <h1 class="with_back">About</h1>
</div>
<ul class="data">
  <li>
    <p>
      Informal meetings for tech people to exchange ideas, code and learning. Held periodically at <a href="http://www.thoughtworks.com" target="_blank">ThoughtWorks</a> offices in Bangalore, Pune and Chennai.
    </p>
  </li>
</ul>
