<div id="header">
  <a class="navigation" href="javascript:void(0)" data-url="<%= welcome_path %>" id="backButton">Back</a>
  <h1 class="with_back">Register</h1>
</div>
<ul class="data">
  <li>
    <span>Thanks for your interest in participating, sorry we are closed for registration<span>
  </li>
</ul>
