<div id="header">
  <a class="navigation" href="javascript:void(0)" data-url="<%= welcome_path %>" id="backButton">Back</a>
  <h1 class="with_back">Contact</h1>
</div>

<ul class="data phone-number">
  <li>
    <strong>Vinodkumar</strong> - <span>96770 36648</span>
  </li>
  <li>
    <strong>Krishnaswamy</strong> - <span>95660 66399</span>
  </li>
</ul>
