<div id="header">
  <a class="navigation" href="javascript:void(0)" data-url="<%= welcome_path %>" id="backButton">Back</a>
  <h1 class="with_back">Venue</h1>
</div>
<ul class="data">
  <li class="adr">
    <p class="street-address">RR Tower 5, Level 2, Rishabh Info Park</p>
    <p class="street-address">33 A Developed Plots</p>
    <p class="extended-address">Thiru Vi Ka Industrial Estate</p>
    <p class="locality">Ekkaduthangal, Guindy, Chennai</p>
    <p class="region">TamilNadu</p>
    <p class="postal-code">600032</p>
    <p class="country-name">India <a href="http://maps.google.com/maps/place?cid=3235490259204825054&q=Thoughtworks,+Chennai&hl=en&cd=1&ei=46vXTKeqFZHsvgO5s92HDA&dtab=0&sll=13.035019,80.227258&sspn=0.060966,0.065982&ie=UTF8&ll=13.01683,80.193576&spn=0,0&z=17" target="_blank">(Show Map)</a></p>
  </li>
  <li class="time">
    <p><strong>Time:</strong> 10:00 AM</p>
  </li>
</ul>
