<div id="header">
  <h1>Geek Week</h1>
</div>
<ul>
  <li>
    <a class="navigation" href="javascript:void(0);" data-url="<%= about_path %>">About</a>
  </li>
  <li>
    <a class="navigation" href="javascript:void(0);" data-url="<%= new_participant_path  %>">Register</a>
  </li>
  <li>
    <a class="navigation" href="javascript:void(0);" data-url="<%= venue_path  %>">Venue</a>
  </li>
  <li>
    <a class="navigation" href="javascript:void(0);" data-url="<%= contact_path  %>">Contact</a>
  </li>
</ul>
