<!DOCTYPE html>
<html>
<head>
  <title>Geekweek</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

  <div id="geekweek">

    <div class="header">
      <div class="logo">
      </div>
      <div class="geek_logo"></div>
    </div>

    <div class="body">
      <div id="iphone_body" class="content">
        <%= yield %>
      </div>
    </div>

    <div class="footer">
    </div>

  </div>

</body>

<script type="text/javascript" language="javascript">
  document.observe("dom:loaded", function() {
    var geek = new GeekWeek();
  });

</script>

</html>
